ASPNETCORE_ENVIRONMENT=Production
HTTP_PORT=5050
SETTINGS_CONNECTION=Data Source=/app/data/Settings.db
PROCURING_ENTITY_CONNECTION=Data Source=/app/data/ProcuringEntity.db
TENDER_HISTORY_CONNECTION=Data Source=/app/data/TenderHistory.db
DATA_PROTECTION_KEY_PATH=/app/data/keys
TZ=Europe/Kyiv
